datacleaning/assignment/UCI HAR Dataset
data.zip
README.html
CodeBook.html
.Rhistory
data.txt
exdata-data-NEI_data.zip
Source_Classification_Code.rds
summarySCC_PM25.rds
plot1.png
exploratorydataanalysis/assignment2/plot2.png
exploratorydataanalysis/assignment2/plot3.png
exploratorydataanalysis/assignment2/plot4.png
exploratorydataanalysis/assignment2/plot5.png
exploratorydataanalysis/assignment2/plot6.png
reproducibleresearch/assignment2/assignment2_cache
repdata-data-StormData.csv.bz2
reproducibleresearch/assignment2/assignment2_files/figure-html
working.R
seattle_incidents_summer_2014.csv
sanfrancisco_incidents_summer_2014.csv
Publish Document.dcf
presentation.Rpres
presentation-rpubs.html
dataproducts/assignment/presentation-figure
assignment.dcf
practicalmachinelearning/assignment/report_cache
helper.R
