datacleaning/assignment/UCI HAR Dataset
data.zip
README.html
CodeBook.html
.Rhistory
data.txt
exdata-data-NEI_data.zip
Source_Classification_Code.rds
summarySCC_PM25.rds
plot1.png
exploratorydataanalysis/assignment2/plot2.png
exploratorydataanalysis/assignment2/plot3.png
exploratorydataanalysis/assignment2/plot4.png
exploratorydataanalysis/assignment2/plot5.png
exploratorydataanalysis/assignment2/plot6.png
reproducibleresearch/assignment2/assignment2_cache
repdata-data-StormData.csv.bz2
reproducibleresearch/assignment2/assignment2_files/figure-html
working.R
seattle_incidents_summer_2014.csv
sanfrancisco_incidents_summer_2014.csv
Publish Document.dcf
presentation.Rpres
presentation-rpubs.html
dataproducts/assignment/presentation-figure
assignment.dcf
practicalmachinelearning/assignment/report_cache
helper.R
.RData
machine-learning-ex1.zip
octave-workspace
token.mat
machine-learning-ex3.zip
machine-learning-ex4.zip
machine-learning-ex5.zip
machine-learning-ex6.zip
machine-learning-ex7.zip
machine-learning-ex8.zip
mlclassification/week1/amazon_baby.gl
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
mlfoundation/week2/home_data.gl
mlfoundation/week3/amazon_baby.gl
mlfoundation/week5/song_data.gl
mlfoundation/week6/image_test_data
mlfoundation/week6/image_train_data
*/*/*/.ipynb_checkpoints
mlregression/week1/assignment/kc_house_data.gl
mlregression/week2/assignment1/kc_house_data.gl
mlregression/week2/assignment2/kc_house_data.gl
mlregression/week3/kc_house_data.gl
mlregression/week4/kc_house_data.gl
mlregression/week5/kc_house_data.gl
mlregression/week6/kc_house_data_small.gl
mlfoundation/week3/amazon_baby.gl.zip
mlregression/week1/assignment/kc_house_data.gl.zip
mlregression/week2/assignment1/kc_house_data.gl.zip
mlregression/week3/kc_house_data.gl.zip
mlregression/week4/kc_house_data.gl.zip
mlregression/week5/kc_house_data.gl.zip
mlregression/week6/kc_house_data_small.gl.zip
mlclassification/week2/amazon_baby_subset.gl
